 h1 {
                    color : rgb(230, 166, 29);
                }

                img {
                    width: 400px;   
                }

                #thirddiv {
                    height: 600px;
                    width: 500px;
                    background-color: rgb(227, 237, 240);
                    padding: 50px;
                    border: 3px solid navy;  
                }

                #spanId {
                    font-size: 18px;
                    margin: 50px;
                }
                body {
                    background-image: url("https://i.redd.it/yn4txa9m7vcg1.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                }
                body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    min-height: 100vh;
                    margin: 0;
                }
                .divclass, #thirddiv {
                    margin: 0 auto;
                }
                #thirddiv {
                    position: relative;
                    top: 20px;
                    left: 10px;
                }

                h3, h4, #spanId {
                    color: white;
                }
                a{
                    color: white;
                }